@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-title {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 14px;
  font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 100vh;
    margin: 0;
    padding: 10px;
    overflow-y: hidden;
}

#playerInfo {
    position: absolute;
    top: 10px;
    right: 10px;
    white-space: normal;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

#ConnexionButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#ConnexionButton button {
    width: auto;
    margin-left: 10px;
}

#ConnexionButton input {
    width: 70%;
    max-width: 400px;
    margin-bottom: 10px;
}

#playerList {
    margin-right: 20px;
}

#chat {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

#chatContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid #4caf50;
    border-radius: 10px;
    padding: 10px;
    width: 28%;
    height: 75%;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: absolute;
    right: 10px;
    top: 10%;
}

#messageContainer {
    width: 28%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 10px;
    top: calc(20px + 75% + 30px);
}


#messageContainer input[type="text"],
#messageContainer button {
    width: 100%;
    max-width: none;
}

input[type="text"], button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #45a049;
}

.system-message {
    color: red;
    font-style: italic;
}

.connection-message {
    color: green;
    font-weight: bold;
}

.top-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

svg {
    border: 4px solid blue;
    border-top-color: red;
    border-bottom-color: red;
    position: absolute;
    top: 15%;
    left: 15%;
}

#eventjeu {
    align-items: start;
    display: flex;
    width: 5%;
}

#turnInfo {
    font-size: 18px;
    color: green;
    font-weight: bold;
    margin: 10px 0;
}

#errorMessage {
    color: red;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

/* Conteneur des lecteurs audio dans le footer */
.audio-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f8ff;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    z-index: 1000;
    box-sizing: border-box;
}

/* Lecteur audio */
audio {
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
}